.idea/*
/bootstrap/compiled.php
/node_modules
/vendor
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db

tests/_output/*
app/storage/*
Envoy.blade.php

app/assets/css/dist/*
asset_manifest.json
env.local.zip
public/uploads/*
public/uploads/zoro1.jpg
public/uploads/avatars/1/zoro1.jpg
public/uploads/avatars/zoro1.jpg
